<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SinatraCRUD</title>
  </head>
  <body>
    <header>
      <h2>SinatraCRUD</h2>
      <h4>Getting DB things Done</h4>
    </header>
    <hr>
    <%= yield %>
    <hr>
    <footer>&copy; 2015 Myron Johnson</footer>
  </body>
</html>
